@import "values";

.virsta-start {
  display: flex;
  width: 50vw;
  height: 50vw;
  flex-direction: column;
  align-items: center;
}

.virsta-main{
  display: flex;
  width: 60vw;
  height: 45vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.virsta-finish {
  display: flex;
  width: 60vw;
  height: 45vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.virsta-button {
  background-color: $background-color;
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
  color: $virsta-button-color;
  border: 2px solid $border-color;
}

.virsta-start > h1 {
  color: $virsta-start-color;
}

.virsta-display-none {
  display: none;
}

.virsta-play{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 3px solid $border-color;
  width: 500px;
  height: 500px;
}

.virsta-play-part {
  display: flex;
  width: 90px;
  height: 90px;
  background-color: $virsta-play-part-background-color;
  border: $border-color solid 3px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: $virsta-play-part-color;
}

.virsta-play-part-click {
  background-color: $virsta-play-part-click-background-color;
}
