$background-color: #008CBA;
$virsta-button-color: white;

$border-color: black;

$virsta-start-color: red;

$virsta-play-part-background-color: white;
$virsta-play-part-color: black;

$virsta-play-part-click-background-color: gray;

